<div>
    <div class="mat-body">
        <small>{{exchange}} {{market}} Open Orders: </small> <span class="mat-body-2">{{orders.length}}</span>
        <a class="fa fa-refresh btn green" (click)="onRefreshClick()"></a>
    </div>
    <table>
        <tbody>
        <tr *ngFor="let order of orders">
            <td>
                <small>{{order.timestamp | toDate}}</small>
            </td>
            <td>
                <small>{{order.base}}_{{order.coin}}</small>
            </td>
            <td >
                <span class="{{order.orderType==='SELL'?'red':'green'}}">{{order.orderType}}</span>
            </td>
            <td>
                <span>${{order.amountCoin | coin2us:order.coin | async}}</span>
            </td>
            <td>
                <small>{{order.rate}}</small>
            </td>
            <td>
                <small>{{order.stopPrice}}</small>
            </td>
            <td>
                <small>{{order.lastStatus}}</small>
            </td>
            <td>
                <span class="btn fa fa-close dred fa-2x" (click)="onCancelOrderClick(order)"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
