<div>
    <app-mc-data [mcdata]="coinMC"> </app-mc-data>



    <app-coin-day-triggers [coin]="coin"></app-coin-day-triggers>



    <menu>
        &nbsp; &nbsp;
        <a routerLink="/my-exchange/balances/{{exchange}}">
            <span class="btn fa fa-dollar fa-2x dgreen"></span>
            <span class="btn mat-body-2">{{exchange}}</span>
        </a>
        &nbsp; &nbsp;
        <span class="mat-body-2"> {{market}}</span>
        &nbsp; &nbsp;

        <a color="primary"
           (click)="onLineChartClick()"

        ><span class="fa fa-line-chart fa-2x"></span>
        </a>
        &nbsp; &nbsp;
        <a routerLink="/my-exchange/buy-sell-coin/{{exchange}}/{{market}}"
           color="accent"
        ><span class="fa fa-exchange fa-2x"></span>
        </a>
        &nbsp; &nbsp;
        <a routerLink="/email-service/create-bot/{{exchange}}/{{market.split('_').join('/')}}"
           [queryParams]="{ amount: amountUS }"
           color="accent"
        ><span>WD</span>
        </a>
    </menu>


    <p>
        <mat-checkbox #booksCheck >Books</mat-checkbox>
        <app-books-all-exchanges
                *ngIf="booksCheck.checked"
                [coin]="coin"
                (marketExchange)="onMarketExchangeChange($event)"
                (amount)="onAmountChanged($event)"
        ></app-books-all-exchanges>
    </p>



    <p>
        <mat-checkbox #marketCheck >Market</mat-checkbox>
        <app-market-snapshot
                *ngIf="marketCheck.checked"
                [exchange]="exchange"
                [market]="market"

        ></app-market-snapshot>
    </p>

    <br/>

</div>
