<div>
    <span>{{base}}</span>
    <span class="large"><sup>$</sup>{{balanceBase | coin2us:base | async}}</span>
    <span *ngIf="pendingBase"> ({{pendingBase | coin2us:base | async}})</span>&nbsp;
    <span>{{coin}}</span>
    <span class="large"><sup>$</sup>{{balanceCoin | coin2us:coin | async}}</span>
    <span *ngIf="pendingCoin"> ({{pendingCoin | coin2us:coin | async}})</span>
    &nbsp;
    <a [ngClass]="isLoadingBalances?'scale05':''" class="btn fa fa-refresh fa-2x dgreen"
       (click)="onRefreshBalancesClick()"></a>
</div>
