<div>
    <span class="mat-title">Books {{exchange}} {{market}}</span>
    &nbsp;&nbsp;&nbsp;
   <!-- <a [ngClass]="isRefreshing ?'scale05':''" class="btn fa fa-refresh fa-2x dgreen" (click)="onRefreshClick()"></a>-->

    <p class="mat-body-2">by MC {{market | cmcMarket | async}}</p>
    <table>
        <tr>
            <td>
                $500
            </td>
            <td>
                <app-books-for-amount
                        [exchange]="exchange"
                        [market]="market"
                        [amountUS]="500"
                        (rate)="onBookClick($event)"
                ></app-books-for-amount>
            </td>

        </tr>
        <tr>
            <td>
                $1000
            </td>
            <td>
                <app-books-for-amount
                        [exchange]="exchange"
                        [market]="market"
                        [amountUS]="1000"
                        (rate)="onBookClick($event)"
                ></app-books-for-amount>
            </td>

        </tr>
        <tr>
           <td>
               $10000
           </td>
            <td>
                <app-books-for-amount
                        [exchange]="exchange"
                        [market]="market"
                        [amountUS]="10000"
                        (rate)="onBookClick($event)"
                ></app-books-for-amount>
            </td>
        </tr>
    </table>
</div>
