<div>
  <h3><span class="btn" (click)="onNewClick()">New</span></h3>

    <section>
        <table>
            <tbody>
            <tr class="small">
                <th>Name</th>
                <th>Active</th>
                <th>Delete</th>
            </tr>
            <ng-container *ngFor="let dog of watchDogs">
                <tr>
                    <td><span class="btn" (click)="onNameClick(dog)">{{dog.name}}</span></td>
                    <td><span>{{dog.active}}</span></td>
                    <td><span class="btn fa fa-trash dred" (click)="onDeleteClick(dog)"></span></td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </section>
</div>
