<div>
    <p>
        <span class="mat-title">{{action}}</span>
        &nbsp;&nbsp;&nbsp;
        <a class="fa-2x fa fa-plus-circle btn dgreen"  (click)="onNewClick()"></a>
        &nbsp;&nbsp;&nbsp;
        <a class="dred btn fa-2x fa fa-{{isBotsRunning?'stop-circle':'play-circle'}}" (click)="startStopBots()"></a>
        &nbsp;&nbsp;&nbsp;
        <a class="fa fa-bolt fa-2x red btn"  (click)="dryRunDogs()"></a>

    </p>

    <section>
        <table>
            <tbody>
            <tr class="small">
                <th>Name</th>
                <th>Active</th>
                <th>Delete</th>
            </tr>
            <ng-container *ngFor="let dog of watchDogs">
                <tr>
                    <td><span class="btn" (click)="onNameClick(dog)">{{dog.name}}</span></td>
                    <td><span>{{dog.active}}</span></td>
                    <td><span class="btn fa fa-trash dred" (click)="onDeleteClick(dog)"></span></td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </section>
</div>
