
<section>
<span *ngIf="coinMC" class="mat-h2" ><small>{{coinMC.id}}</small> {{coinMC.symbol}} <small>Rank: {{coinMC.rank}}</small></span>
    <button class="mat-raised-button" (click)="onMinus12h()">-12h</button>
    <button class="mat-raised-button" (click)="onPlus12h()">+12h</button>
    <button class="mat-raised-button" (click)="onMinus1D()">-1D</button>
    <button class="mat-raised-button" (click)="onPlus1D()">+1D</button>
    <button class="mat-raised-button" (click)="onMinus1W()">-1W</button>
    <button class="mat-raised-button" (click)="onPlus1W()">+1W</button>
    <br/>
    <small>From: {{from.slice(5,-3)}}</small>
    <br/>
    <small>To: &nbsp;&nbsp;&nbsp;&nbsp;{{to.slice(5,-3)}}</small>
</section>
<section>
    <app-line-chart [graphs]="myGraps"></app-line-chart>
</section>