<div>
    <div>{{exchange}}</div>
    <div>{{market}}</div>

   <!-- <div> Last Buy <span>{{lastBuy}}</span></div>
    <div> Last Sell <span>{{lastSell}}</span></div>

    <div> First <span>{{firstBuy}}</span></div>-->

    <div>Diff: {{diffSellBuyPrice}}</div>
    <div> Total Buy <span>{{totalBuy}}</span></div>
    <div> Total Sell <span>{{totalSell}}</span></div>
    <div> avg {{avgRate}}</div>

    <div> speed {{speed}}</div>
    <div> amountPerMinute {{amountPerMinute}}</div>
    <div> totalPerMinute {{totalPerMinute}}</div>

</div>
