<div>
    <section>
        <table>
            <tr>
                <th>Name</th>
                <th>Prev Day</th>
                <th>Last</th>
                <th>High</th>
                <th>Low</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>To Sell</th>
                <th>To Buy</th>
                <th>Volume</th>
            </tr>
            <tr *ngFor="let market of markets">
                <td (click)="onMarketClick(market)" class="btn" >{{market.pair}}</td>
                <td>{{market.usPrevDay}}</td>
                <td>{{market.usLast}}</td>
                <td>{{market.usHigh}}</td>
                <td>{{market.usLow}}</td>
                <td>{{market.usBid}}</td>
                <td>{{market.usAsk}}</td>
                <td title="Open Sell Orders">{{market.OpenSellOrders}}</td>
                <td title="Open Buy Orders">{{market.OpenBuyOrders}}</td>
                <td>{{market.dVolume}}</td>

            </tr>
        </table>
    </section>
</div>
