<div class="mat-body">
    <div>
        <span><small> {{exchange}} {{market}} All orders: </small></span>
        <span class="mat-body-2">{{orders.length}}</span>
    </div>
    <table>
        <tbody>
        <tr *ngFor="let order of orders">
            <td><small>{{order.timestamp | toDate }}</small></td>
            <td class="{{order.isOpen?'red':''}}">{{order.action}}</td>
            <td>{{order.rate | coin2us3:order.base | async}}</td>
            <td><small>{{order.rate}}</small></td>
            <td>{{order.amountCoin | coin2us:order.coin | async}}</td>
        </tr>
        </tbody>
    </table>
</div>
