<div>
    <section>
        <mat-checkbox (change)="onShowAll($event)">Show All</mat-checkbox>
        <h5>Total ${{total}}</h5>
        <h4><span class="btn fa fa-refresh fa-lg" (click)="refreshBalance()"></span></h4>
        <table class="small">
            <tbody>
            <tr>
                <th>Coin</th>
                <th>Balance</th>
                <th>% 1h</th>
                <th>% 24h</th>
                <th>% 7d</th>
                <th>Price</th>
            </tr>
            <ng-container *ngFor="let balance of balancesAr">
                <tr>
                    <td class="ell">
                        <img class="w1 icon" src="assets/icons/{{balance.id}}.png" />
                        <small class="btn" (click)="onSymbolClick(balance)">{{balance.symbol}}</small>
                    </td>

                    <td><span  class="btn" (click)="onTransferClick(balance)"><small class="grey">$</small>{{balance.balanceUS}}</span></td>
                    <td><span [ngClass]="balance.percent_change_1h>0?'green':'red'">{{balance.percent_change_1h}}</span></td>
                    <td><span [ngClass]="balance.percent_change_24h>0?'green':'red'">{{balance.percent_change_24h}}</span></td>
                    <td><span [ngClass]="balance.percent_change_7d>0?'green':'red'">{{balance.percent_change_7d}}</span></td>
                    <td><small class="btn" (click)="onShowCartClick(balance)" ><small class="grey">$</small>{{balance.priceUS}}</small></td>

                </tr>
            </ng-container>
            </tbody>
        </table>
    </section>

</div>
