<div>

    <mat-form-field class="w8">
        <mat-select [ngModel]="exchange" placeholder="Select Exchange" (change)="onEchangeChanged($event)">
            <mat-option *ngFor="let exch of exchangesPrivate" [value]="exch">
                {{exch}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <a  routerLink="/market-cap/gainers-losers/{{exchange}}">
        <span class="btn fa fa-thumbs-o-up fa-2x"></span>
        <span class="fa fa-thumbs-o-down fa-flip-horizontal fa-2x"></span>
    </a>
    <a  routerLink="/my-exchange/buy-sell/{{exchange}}/">
        <span class="btn fa fa-dollar fa-2x green"></span>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a class="btn fa fa-key fa-2x right" (click)="onKeyClick()"></a>

    <div class="mat-subheading-1">My {{exchange}} <span class="mat-title"> ${{total}}</span></div>
    <section>
        <mat-checkbox (change)="onShowAll($event)">Show All</mat-checkbox>
        <a mat-button routerLink="/my-exchange/buy-sell/{{exchange}}/x" >
            Buy/Sell
        </a>

        &nbsp; &nbsp;
        <span [ngClass]="isBalancesLoading?'scale05':''" class="btn fa fa-refresh fa-2x dgreen right"
              (click)="refreshBalances()"></span>
        <table class="small">
            <tbody>
            <tr>
                <th>Coin</th>
                <th class="btn large" (click)="sortByBalance()">Balance</th>
                <th>1h%</th>
                <th>24h%</th>
                <th>7d%</th>
                <th>Price</th>
            </tr>
            <ng-container *ngFor="let balance of balancesAr">
                <tr>
                    <td class="ell">
                        <img class="w1 icon" src="assets/icons/{{balance.id}}.png"/>
                        <small class="btn" (click)="onSymbolClick(balance)">{{balance.symbol}}</small>
                    </td>
                    <td>
                        <span class="btn" (click)="onBalanceClick(balance)">
                            <small class="grey">$</small>
                            {{balance.balance | coin2us:balance.symbol | async}}
                        </span>
                    </td>
                    <td>
                        <span [myValueColor] = "'percent_change_1h' | cmc:balance.symbol | async"></span>
                    </td>
                    <td>
                        <span [myValueColor] = "'percent_change_24h' | cmc:balance.symbol | async"></span>
                    </td>
                    <td> <span [myValueColor] = "'percent_change_7d' | cmc:balance.symbol | async"></span>
                    </td>
                    <td>
                        <small class="btn" (click)="onPriceClick(balance)">
                            <small class="grey">$</small>
                            {{1 | coin2us3:balance.symbol | async}}
                        </small>
                    </td>

                </tr>
            </ng-container>
            </tbody>
        </table>
    </section>

    <section>
        <app-open-orders [exchange]="exchange"></app-open-orders>
    </section>

</div>
