<div>
    <p>
        <mat-form-field class="w5">
            <mat-select [(ngModel)]="top" (change)="onTopChange($event)" placeholder="by Rank">
                <mat-option value="all">All</mat-option>
                <mat-option value="top100">Top 100</mat-option>
                <mat-option value="top200">Top 200</mat-option>
                <mat-option value="after100"> >> 100</mat-option>
                <mat-option value="after200"> >> 200</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="w6">
            <mat-select [(ngModel)]="exchange" (change)="onExcgangeChange($event)" placeholder="Exchange">
                <mat-option value="all">All</mat-option>
                <mat-option value="bittrex">Bittrex</mat-option>
                <mat-option value="poloniex">Poloniex</mat-option>
                <mat-option value="binance">Binance</mat-option>
                <mat-option value="hitbtc">HitBtc</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="fa fa-refresh fa-2x dgreen right btn" (click)="onRefreshClick()"></span>
    </p>

    <section>

        <table class="mat-body">
            <tbody>
            <tr>
                <td></td>
                <td class="btn" (click)="onUpClick()">UP</td>
                <td colspan="5" class="text-center">
                    <small class="btn" (click)="onToBTCClick()">% to btc</small>
                    <span class="mat-body-2"> <sup>$</sup> {{(+btcMC.price_usd.toFixed(0)).toLocaleString()}}</span>
                </td>

                <td></td>
                <td class="text-center">
                    <small>CMC</small>
                </td>
            </tr>
            <tr class="small">
                <th>Symbol</th>

                <th class="btn" (click)="onClickHeader('rank')">Rank</th>
                <th class="btn" (click)="onClickHeader('rankChange24h')">R 24h</th>

                <th class="btn" (click)="onClickHeader('tobtc_change_05h')">0.5h%</th>
                <th class="btn" (click)="onClickHeader('tobtc_change_1h')">1h%</th>
                <th class="btn" (click)="onClickHeader('tobtc_change_2h')">2h%</th>
                <th class="btn" (click)="onClickHeader('tobtc_change_3h')">4h%</th>
                <th class="btn" (click)="onClickHeader('tobtc_change_24h')">24h%</th>

                <th class="btn" (click)="onClickHeader('percent_change_1h')">1h%</th>
                <th class="btn" (click)="onClickHeader('percent_change_24h')">24h%</th>
                <th class="btn" (click)="onClickHeader('percent_change_7d')">7d%</th>
            </tr>
            <tr>
                <td>
                    <span>BTC</span>
                </td>
                <td>1</td>
                <td>{{btcMC.rankChange24h}}</td>

                <td>{{btcMC.tobtc_change_05h}}</td>
                <td>{{btcMC.tobtc_change_1h}}</td>
                <td>{{btcMC.tobtc_change_2h}}</td>
                <td>{{btcMC.tobtc_change_3h}}</td>
                <td>{{btcMC.tobtc_change_24h}}</td>

                <td>{{btcMC.percent_change_1h}}</td>
                <td>{{btcMC.percent_change_24h}}</td>
                <td>{{btcMC.percent_change_7d}}</td>

            </tr>

            <tr *ngFor="let item of sorted">
                <td>
                    <a class="btn small"
                       routerLink="/trader/analyze-coin/{{item.symbol}}/{{exchange}}"
                    >
                        {{item.symbol}}
                    </a>
                </td>

                <td>

                        {{item.rank}}

                </td>

                <td class="w50" [ngClass]="item.rankChange24h>0?'dgreen':'dred'">
                    <span title="{{item.rank24h}}">
                         {{item.rankChange24h}}
                    </span>
                </td>

                <td class="w50" [ngClass]="item.tobtc_change_05h>0?'dgreen':'dred'">
                    {{item.tobtc_change_05h}}
                </td>
                <td class="w50" [ngClass]="item.tobtc_change_1h>0?'dgreen':'dred'">
                    {{item.tobtc_change_1h}}
                </td>
                <td class="w50" [ngClass]="item.tobtc_change_2h>0?'dgreen':'dred'">
                    {{item.tobtc_change_2h}}
                </td>
                <td class="w50" [ngClass]="item.tobtc_change_3h>0?'dgreen':'dred'">
                    {{item.tobtc_change_3h}}
                </td>
                <td class="w50" [ngClass]="item.tobtc_change_24h>0?'dgreen':'dred'">
                    {{item.tobtc_change_24h}}
                </td>


                <td class="w50" [ngClass]="item.percent_change_1h>0?'dgreen':'dred'">
                    {{item.percent_change_1h}}
                </td>
                <td class="w50" [ngClass]="item.percent_change_24h>0?'dgreen':'dred'">
                    {{item.percent_change_24h}}
                </td>
                <td class="w50" [ngClass]="item.percent_change_7d>0?'dgreen':'dred'">
                    {{item.percent_change_7d}}
                </td>
            </tr>
            </tbody>
        </table>
        <!-- <app-sortable-table [consAvailable]="gainersAr" (selectedSymbol)="onSymbolSelected($event)"></app-sortable-table>-->
    </section>
</div>
