<div>
    <a class="btn" routerLink="/my-exchange/buy-sell/{{exchange}}/{{selectedMarket}}">
        {{exchange}} &nbsp;&nbsp;
        {{market}}</a>

    &nbsp;&nbsp;

    <mat-form-field class="w3">
        <mat-select [(ngModel)]="candlesInterval" (change)="onCandlesIntrvalChange()">
            <mat-option value="1m">1m</mat-option>
            <mat-option value="5m">5m</mat-option>
            <mat-option value="15m">15m</mat-option>
            <mat-option value="1h">1h</mat-option>
            <mat-option value="6h">6h</mat-option>
        </mat-select>
    </mat-form-field>

    <app-media [coin]="market?market.split('_')[1]:null"></app-media>
    <app-mc-data [coin]="market?market.split('_')[1]:null"></app-mc-data>
    <app-candlesticks [candles]="candles"></app-candlesticks>
    <app-volume-hist [values]="volumes"></app-volume-hist>
</div>
