<mat-card>
    <mat-card-title>
        {{msg}}
    </mat-card-title>
    <mat-card-content>
        <mat-slider
                [thumb-label]="true"
                color="primary"
                (change)="onSladerChange($event)"
                [max]="3"
                [min]="0.3"
                [step]="0.3"
                [value]="1.2"
        ></mat-slider>
        <div>
            <mat-form-field class="w6">
                <input matInput placeholder="Trigger Price"
                       [(ngModel)]="stopPrice"
                       (ngModelChange)="onPriceCanage()"
                >
                <mat-hint></mat-hint>
            </mat-form-field>
            <mat-form-field class="w6">
                <input matInput placeholder="Sell Price"
                       [(ngModel)]="sellPrice"
                >
                <mat-hint></mat-hint>
            </mat-form-field>
        </div>

        <button mat-raised-button
                (click)="onCancelClick()"
        >Cancel
        </button>
        <button mat-raised-button
                (click)="onConfirmClick()"
        >OK
        </button>
    </mat-card-content>
</mat-card>
