<div>

    <div>
        <h3> Summary  </h3>
        <small *ngIf="marketsAr"> Total {{marketsAr.length}}</small>
        <span class="fa fa-refresh btn fa-lg" (click)="onRefreshClick()"></span>
        <div>
            <mat-checkbox #selectedChck checked="true" (change)="onSelectedChckClick($event)">Selected Only</mat-checkbox>

            <mat-checkbox #baseBTC checked="true" (change)="onChangeBase()">BTC</mat-checkbox>
            <mat-checkbox #baseETH checked="true" (change)="onChangeBase()">ETH </mat-checkbox>
            <mat-checkbox #baseUSDT checked="true" (change)="onChangeBase()">USDT </mat-checkbox>


        </div>

        <br/>

        <table class="small">
            <tr class="small">
                <th></th>
                <th><span class="btn" (click)="onSortClick('pair')">Pair</span></th>
                <th><span class="btn" (click)="onSortClick('coinRank')">Rank</span></th>

                <th>%1h</th>
                <th>%24h</th>
                <th>%7d</th>

                <th><span class="btn" (click)="onSortClick('Last')">Last</span></th>
                <th>High</th>
                <th>Low</th>


            </tr>
            <tr *ngFor="let market of marketsAr">
                <td>
                    <input type="checkbox"  (change)="onMarketSelected($event, market)" [checked]="market.selected"   name="selected"/>
                    <!-- <a (click)="onChartClick(market)" class="fa fa-line-chart"></a>-->
                </td>
                <td><a class="btn" (click)="onMarketClick(market)">{{market.pair}}</a></td>
                <td>{{market.coinRank}}</td>

                <td><span [ngClass]="market.percent_change_1h>0?'green':'red'">{{market.percent_change_1h}}</span></td>
                <td><span [ngClass]="market.percent_change_24h>0?'green':'red'">{{market.percent_change_24h}}</span></td>
                <td><span [ngClass]="market.percent_change_7d>0?'green':'red'">{{market.percent_change_7d}}</span></td>

                <td>{{market.usLast}}</td>
                <td>{{market.usHigh}}</td>
                <td>{{market.usLow}}</td>


            </tr>
        </table>



    </div>

</div>
