<div>
    <section>
        <h2>YoBit</h2>

    </section>
    <section>
        <div *ngIf="btcPairs" >Total: Direct: {{directPairs.length}}  BTC: {{btcPairs.length}}
            <input type="checkbox"  (change)="onShowHide()"  [(ngModel)]="showAll"  name="selected"/> Show All</div>
        <table>
            <tbody [ngClass]="tableClass">
            <tr class="show-me">
                <th>#</th>
                <th>Pair</th>
                <th>Last</th>
                <th>Low</th>
                <th>High</th>
                <th>Buy</th>
                <th>Sell</th>
            </tr>
            <tr *ngFor="let coin of directPairs" [ngClass]="coin.class" >

                <td> <input type="checkbox"  (change)="onCoinSelected(coin)" [checked]="coin.selected" name="selected"/></td>
                <td (click)="onPairClick(coin)" class="btn">{{coin.pair}}</td>
                <td>{{coin.market.last}}</td>
                <td>{{coin.market.low}}</td>
                <td>{{coin.market.high}}</td>
                <td>{{coin.market.buy}}</td>
                <td>{{coin.market.sell}}</td>
            </tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr *ngFor="let coin of btcPairs" [ngClass]="coin.class" >

                <td> <input type="checkbox"  (change)="onCoinSelected(coin)" [checked]="coin.selected" name="selected"/></td>
                <td class="btn" (click)="onPairClick(coin)">{{coin.pair}}</td>
                <td>{{coin.market.last}}</td>
                <td>{{coin.market.low}}</td>
                <td>{{coin.market.high}}</td>
                <td>{{coin.market.buy}}</td>
                <td>{{coin.market.sell}}</td>
            </tr>

            </tbody>

        </table>
    </section>

</div>
