<section>
    <span>Total: ${{fullAmountUS}}</span>
    <button mat-raised-button
            color="primary"
            (click)="on50_50Click()"
    >50/50
    </button>

    <mat-checkbox
            [checked]="true"
            (change)="onAbsoluteChaged($event)"
    >Abs</mat-checkbox>
    <app-balance-market
            [market]="market"
            [exchange]="exchange"
            (balanceBaseChange)="onBalanceChange($event)"
            (balanceCoinChange)="onBalanceChange($event)"
    ></app-balance-market>

    <diV>

        <mat-card>
            <mat-card-title>
                <mat-form-field>
                    <input matInput placeholder="Buy Rate"
                           [(ngModel)]="rateBuy"
                           (focus)="onFocus('rateBuy')"
                           (blur)="onFocus(null)"
                    >
                    <mat-hint>{{bookBuy}} <small>({{bookBuy1000US}})</small></mat-hint>
                </mat-form-field>
            </mat-card-title>

            &nbsp; &nbsp;
            <mat-card-content>
                <button mat-fab
                        [ngClass]="isBuyDisabled?'':'green-color'"
                        (click)="onBuyClick(25)"
                >25%
                </button>
                <button mat-fab
                        [ngClass]="isBuyDisabled?'':'green-color'"
                        (click)="onBuyClick(50)"
                >50%
                </button>
                <button mat-fab
                        [ngClass]="isBuyDisabled?'':'green-color'"
                        (click)="onBuyClick(75)"
                >75%
                </button>
                <button mat-fab
                        class = "green-color"
                        (click)="onBuyClick(100)"
                >100%
                </button>
            </mat-card-content>

        </mat-card>

        &nbsp; &nbsp; &nbsp; &nbsp;

        <mat-card>
            <mat-card-title>
                <mat-form-field>
                    <input matInput placeholder="Sell Rate"
                           [(ngModel)]="rateSell"
                           (focus)="onFocus('rateSell')"
                           (blur)="onFocus(null)"
                           >
                    <mat-hint>{{bookSell}} <small>({{bookSell1000US}})</small></mat-hint>
                </mat-form-field>
            </mat-card-title>

            <button mat-fab class="btn-sell" color="accent"
                    (click)="onSellClick(25)"
            >25%
            </button>
            <button mat-fab class="btn-sell" color="accent"
                    (click)="onSellClick(50)"
            >50%
            </button>
            <button mat-fab class="btn-sell" color="accent"
                    (click)="onSellClick(75)"
            >75%
            </button>
            <button mat-fab class="btn-sell" color="accent"
                    (click)="onSellClick(100)"
            >100%
            </button>
        </mat-card>

    </diV>
</section>