<div>
    <div>
        <div class="inline-block" >

            <table class="table-small">
                <tbody>
                <tr class="small">
                    <td>Last</td>
                    <td>Low</td>
                    <td>High</td>
                    <td>Ask</td>
                    <td>Bid</td>

                </tr>
                <tr>
                    <td>{{marketDetails.Last}}</td>
                    <td>{{marketDetails.Low}}</td>
                    <td>{{marketDetails.High}}</td>
                    <td>{{marketDetails.Ask}}</td>
                    <td>{{marketDetails.Bid}}</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="inline-block" style="vertical-align: text-bottom;">

        </div>

    </div>

    <span  [ngClass]="(marketVolumeChange < 0)?'red':'green'">V: {{marketVolumeChange.toFixed(2)}} %</span>

    <div class="myFlex text-center" >
        <div >
            <table *ngIf="historyStats2">
                <tbody>
                <tr class="small">
                    <th><sup>{{historyLength}}</sup></th>
                    <th><span [ngClass]="isBuying?'green':'red'">Total</span></th>
                    <th>Price</th>
                    <th>Max</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td><span [ngClass]="isSellUp?'green':'red'">Sold:</span></td>
                    <td>{{historyStats.sold.amount}} </td>

                    <td>{{historyStats.sold.priceUS}}</td>
                    <td>{{historyStats.maxSold.amount}}</td>
                    <td>{{historyStats.maxSold.priceUS}}</td>
                </tr>
                <tr>
                    <td><span [ngClass]="isBuyUp?'green':'red'">Bought</span></td>
                    <td>{{historyStats.bought.amount}}</td>
                    <td>{{historyStats.bought.priceUS}}</td>
                    <td>{{historyStats.maxBought.amount}}</td>

                    <td>{{historyStats.maxSold.priceUS}}</td>
                </tr>

                <tr>
                    <td colspan="5">Last 50</td>
                </tr>

                <tr>
                    <td>Sold:</td>
                    <td>{{historyStats1.sold.amount}} </td>

                    <td>{{historyStats1.sold.priceUS}}</td>
                    <td>{{historyStats1.maxSold.amount}}</td>

                    <td>{{historyStats1.maxSold.priceUS}}</td>
                </tr>

                <tr>
                    <td>Bought</td>
                    <td>{{historyStats1.bought.amount}}</td>

                    <td>{{historyStats1.bought.priceUS}}</td>
                    <td>{{historyStats1.maxBought.amount}}</td>

                    <td>{{historyStats1.maxSold.priceUS}}</td>
                </tr>

                <tr>
                    <td colspan="5">Prev 50</td>
                </tr>

                <tr>
                    <td>Sold:</td>
                    <td>{{historyStats2.sold.amount}} </td>

                    <td>{{historyStats2.sold.priceUS}}</td>
                    <td>{{historyStats2.maxSold.amount}}</td>

                    <td>{{historyStats2.maxSold.priceUS}}</td>
                </tr>

                <tr>
                    <td>Bought</td>
                    <td>{{historyStats2.bought.amount}}</td>

                    <td>{{historyStats2.bought.priceUS}}</td>
                    <td>{{historyStats2.maxBought.amount}}</td>

                    <td>{{historyStats2.maxSold.priceUS}}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div>
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

            <br/>
            <br/>
            &nbsp;&nbsp;

        </div>

    </div>
</div>
