<div>
    <div>
        <mat-checkbox #allMarkets [(ngModel)]="isAllMarkets" (ngModelChange)="onAllMarketsChanged()">All Markets</mat-checkbox>
        &nbsp;&nbsp;
        <mat-checkbox #USDT_BTC>USDT BTC</mat-checkbox>
        &nbsp;&nbsp;

        &nbsp;&nbsp;
        <mat-checkbox #botOrders>Orders</mat-checkbox>

        <mat-checkbox #marketCandles [(ngModel)]="isCandles" (ngModelChange)="onCandlesChanged()">Candles</mat-checkbox>
    </div>
    <br/>


    <div *ngIf="allMarkets.checked">

        <mat-form-field>
            <mat-label>Exchange</mat-label>
            <mat-select
                    [(ngModel)]="exchange"
                    (ngModelChange)="onExchangeChanged($event)"
            >
                <mat-option
                        *ngFor="let exchange of (marketService.exchanges$ | async)" [value]="exchange"
                >
                    {{exchange}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        &nbsp;&nbsp;

        <mat-form-field>
            <mat-label>Market</mat-label>
            <mat-select
                    [(ngModel)]="market"
                    (ngModelChange)="onMarketChanged($event)"
            >
                <mat-option
                        *ngFor="let market of (marketService.markets$ | async)" [value]="market">
                    {{market}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;
        <button mat-raised-button (click)="onAddClick()">Add</button>
    </div>


    <div *ngIf="USDT_BTC.checked">
        <h3>USDT-BTC</h3>
        <table role="list">
            <tbody>
            <tr>
                <td></td>
                <td>BTC</td>
                <td>USDT</td>
                <td (click)="onUsdClick()">USD</td>
            </tr>
            <tr
                    role="listitem"
                    *ngFor="let usdtbtc of (usdtbtcs$ | async)" (click)="onUsdtBtcClick(usdtbtc)"
            >
                <td>
                    {{usdtbtc.exchange}}
                </td>
                <td>
                    {{usdtbtc.btc.balance | coin2us:'BTC' | async}}
                </td>
                <td>
                    {{usdtbtc.usdt.balance | coin2us:'USDT' | async}}
                </td>
                <td>
                    {{usdtbtc.usd.balance | coin2us:'USD' | async}}
                </td>

            </tr>
            </tbody>

        </table>
    </div>

    <div>

        <h3>Bots <small >{{this.currentBot?.id}}</small></h3>
        <table>
            <tbody>
            <tr class="small">
                <td class="w10">ID</td>
                <td>P</td>
                <td>PB</td>
                <td>Type</td>
                <td class="w6">Entry</td>
                <td class="w7">Liquid</td>
                <td class="w6">MA25</td>
                <td class="w6">Last</td>

                <td>Del</td>
            </tr>
            <tr *ngFor="let bot of (bots$ | async)">
                <td (click)="onBotClick(bot)" class="x-small">{{bot.id}}</td>
                <td>{{bot.pots$ | async}}</td>
                <td>{{bot.potsBalance$ | async}}</td>

                <td (click)="onEditTypeClick(bot)"> {{bot.wdType$ | async}}</td>
                <td>{{bot.priceInit$ | async}}</td>
                <td>
                    <span (click)="onStopPriceClick(bot)">{{bot.priceStop$ | async}} </span>
                </td>
                <td>
                    {{bot.maDelta$ | async}}
                </td>
                <td>
                    {{bot.lastPrice$ | async}}
                </td>
                <td (click)="onDeleteBotClick(bot)">X</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div>
        <app-macd-indicator [closes]="closes"></app-macd-indicator>
    </div>

    <div *ngIf="botOrders.checked">

        <h3>Active orders  </h3>
        <span *ngIf="currentBot">{{currentBot.id}}</span> &nbsp;&nbsp;
        <mat-icon (click)="onActiveOrdersRefreshClick()">refresh</mat-icon>
        <table>
            <tbody>
            <tr *ngFor="let ord of (myOrders$ | async)">
                <td>{{ord.action}}</td>
                <td>{{ord.amountCoin}}</td>
                <td>{{ord.rate}}</td>
                <td>{{ord.isOpen}}</td>
                <td (click)="onDeleteOrderClick(ord)">X</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="marketCandles.checked" >

        <app-market-candles [market]="market" [exchange]="exchange"></app-market-candles>


    </div>

</div>
