<div>
    <mat-checkbox [(ngModel)]="inBrowser">Browser</mat-checkbox>
    <a class="btn" [routerLink]="['/my-exchange/buy-sell',{exchange:exchange, market:market}]">
        {{exchange}} &nbsp;&nbsp;
        {{market}}</a>
    &nbsp;&nbsp;

    <mat-form-field class="w5">
        <mat-select [(ngModel)]="candlesInterval" (selectionChange)="onCandlesIntrvalChange()">
            <mat-option value="1m">1m</mat-option>
            <mat-option value="5m">5m</mat-option>
            <mat-option value="15m">15m</mat-option>
            <mat-option value="30m">30m</mat-option>
            <mat-option value="1h">1h</mat-option>
            <mat-option value="6h">6h</mat-option>
        </mat-select>
    </mat-form-field>

    &nbsp;&nbsp;
    <a [routerLink]="['/trader/live-trader', {market:market, exchange:exchange, isAllMarkets:true}]" ><span class="fa fa-anchor fa-2x dgreen"></span> </a>
    &nbsp;&nbsp;

    <app-mc-data [coin]="market?market.split('_')[1]:null"></app-mc-data>
    <app-candlesticks [candles]="candles"></app-candlesticks>
    <app-volume-hist [values]="volumes"></app-volume-hist>
    <app-macd-indicator [closes]="closes" (onMACD)="onMacd($event)"></app-macd-indicator>
    <app-stoch-rsi [closes]="closes" (stoch)="onStochRsi($event)"></app-stoch-rsi>
    <app-media [coin]="market?market.split('_')[1]:null"></app-media>
</div>
