<div>
    <app-mc-data [coin]="coin"></app-mc-data>
    <section>
        <mat-form-field class="w8">
            <mat-select [ngModel]="selectedMarket" placeholder="Market" (change)="onMarketSelected($event)">
                <mat-option *ngFor="let market of markets" [value]="market">
                    {{market}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button
                (click)="stopLossClick()"
        >Stop Loss
        </button>
        <app-amount-coin [amount]="amountUS" (amountChanged)="onAmountChanged($event)"></app-amount-coin>
            <app-balance-market [exchange]="exchange" [market]="market"></app-balance-market>
    </section>

    <section>
        <diV class="horizontal">
            <mat-card>
                <mat-card-title>
                    <mat-form-field>
                        <input matInput placeholder="Buy Rate"
                               [(ngModel)]="rateBuy"
                               (focus)="onFocusBuy(null)"
                        >
                        <mat-hint><span (click)="onFocusBuy('first')">{{bookBuy | myDisplNum}}</span>
                            <small (click)="onFocusBuy('b1000')">({{bookBuy1000US | myDisplNum}})</small>
                        </mat-hint>
                    </mat-form-field>
                </mat-card-title>
                &nbsp; &nbsp;
                <mat-card-content>
                    <button mat-fab
                            [ngClass]="isBuyDisabled?'':'green-color'"
                            (click)="onBuyClick()"
                    >Buy
                    </button>
                </mat-card-content>

            </mat-card>

            &nbsp; &nbsp; &nbsp; &nbsp;

            <mat-card>
                <mat-card-title>
                    <mat-form-field>
                        <input matInput placeholder="Sell Rate"
                               [(ngModel)]="rateSell"
                               (focus)="onFocusSell(null)"
                        >
                        <mat-hint><span (click)="onFocusSell('first')">{{bookSell | myDisplNum}}</span>
                            <small (click)="onFocusSell('b1000')">({{bookSell1000US | myDisplNum}})</small>
                        </mat-hint>
                    </mat-form-field>
                </mat-card-title>

                <button mat-fab class="btn-sell" color="accent"
                        (click)="onSellClick()"
                >Sell
                </button>
            </mat-card>

        </diV>
    </section>

    <section>
        <mat-checkbox #booksCheck >Books</mat-checkbox>
        <app-books-all-exchanges
                *ngIf="booksCheck.checked"
                [coin]="null"
                [market]="market"
        ></app-books-all-exchanges>
    </section>
    <section>
        <mat-checkbox #fishesCheck ><span class="fa fa-ship"></span></mat-checkbox>
        <app-fishes  *ngIf="fishesCheck.checked" [exchange]="exchange" [market]="market"></app-fishes>
    </section>
    <section>
        <mat-checkbox #candlesCheck >Candles</mat-checkbox>

        <app-market-candles *ngIf="candlesCheck.checked" [market]="market" [exchange]="exchange"></app-market-candles>
    </section>


    <app-open-orders
            [exchange]="exchange"
            [market]="market"
            [refresh]="ordersRefresh"
    >
    </app-open-orders>

    <app-orders-history
            [exchange]="exchange"
            [market]="market"
            [afterTimestamp]="ordersRefresh"
    ></app-orders-history>

</div>
