<div>
    <app-market-select></app-market-select>
    <span class="large">
    <span >{{base}}: ${{balanceBaseUS}} </span>
    <span> </span>
    <span> {{coin}}</span>
    <span> ${{balanceCoinUS}}</span>
        </span>

    <hr/>

    <section class="line">
        <div class="scrollmenu">
            <mat-radio-group [(ngModel)] = "amountUS" (ngModelChange)="onAmountChanged($event)" >
                <a>
                    <mat-radio-button value="50">$50</mat-radio-button>
                </a>
                <a>
                    <mat-radio-button value="100">$100</mat-radio-button>
                </a>
                <a>
                    <mat-radio-button value="200">$200</mat-radio-button>
                </a>
                <a>
                    <mat-radio-button  value="400">$400</mat-radio-button>
                </a>
                <a>
                    <mat-radio-button value="600">$600</mat-radio-button>
                </a>
                <a>
                    <mat-radio-button value="1000">$1000</mat-radio-button>
                </a>
                <a>
                    <mat-radio-button value="2000">$2000</mat-radio-button>
                </a>
                <a>
                    <mat-radio-button value="4000">$4000</mat-radio-button>
                </a>
                <a>
                    <mat-radio-button value="6000">$6000</mat-radio-button>
                </a>
                <a>
                    <mat-radio-button value="10000">$10000</mat-radio-button>
                </a>

            </mat-radio-group>

        </div>

    </section>

    <hr/>

    <section>
        <div class="myFlex">
            <div class="myFlexCol">
                <app-my-books
                        [marketInit]="marketInit"

                        [amountBase]="amountBase"
                        [refresh]="onRefreshBooks"
                        (rateForAmount)="onRateForAmount($event)"
                > </app-my-books>

                <table>
                    <tr>
                        <td>
                            <button mat-fab  class="green-color" (click)="onBuyClick()" >Buy</button>
                        </td>
                        <td>

                        </td>
                        <td>
                            <button mat-fab  color="accent" (click)="onSellClick()" >Sell</button>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="myFlexCol">
                <my-orders-history
                        [marketInit]="marketInit"
                        [newOrder]="newOrder"
                ></my-orders-history>
               <!-- <app-trading-history
                        [marketInit]="marketInit"
                        [newOrder]="newOrder"
                        (completeOrder)="onOrderComplete($event)"
                ></app-trading-history>-->
            </div>
        </div>

    </section>

    <hr/>
    <section class="right">


        <strong class="large">{{tolerance}}</strong>%
       &nbsp;&nbsp;&nbsp;
        <strong class="large">{{durationInMin}} min</strong>
        &nbsp;&nbsp;
        <strong class="large">{{speedMin}}/min</strong>
        &nbsp;&nbsp;&nbsp;
        <div class="inline-block">
            <app-refresh-button
                    [durationMin]="durationInMin"
                    (onRefresh)="onRfreshHistory($event)"

            ></app-refresh-button>
        </div>
    </section>


    <section>
        <market-history-line
                [marketHistory]="marketHistoryData"
                [marketSummary]="marketSummaryData"
                [removeMaxMin]="true"
                (tolerance)="onTolerance($event)"
        ></market-history-line>
    </section>

    <section>
        <market-history-table
                [marketHistory]="marketHistoryData"
                [marketSummary]="marketSummaryData"
                (durationMin)="onDurationMin($event)"
        ></market-history-table>
    </section>



</div>
