<div>
    {{exchange}}
    {{base}}
    <a class="btn" routerLink="/trader/analyze-coin/{{coin}}" >{{coin}}</a>
    ${{amount}}

    <mat-radio-group [(ngModel)]="orderType">
        <mat-radio-button value="SELL">SELL</mat-radio-button>
        <mat-radio-button value="BUY">BUY</mat-radio-button>
    </mat-radio-group>

    <mat-checkbox [(ngModel)]="isActive">Active</mat-checkbox>
    <button mat-raised-button color="accent" (click)="onCreateClick()">Create</button>

    <app-coin-day-triggers [coin]="coin"></app-coin-day-triggers>
</div>
