<div>
    <nav>

        <a  class="btn"><strong>My <span class="large uppercase text-narrow">{{exchange}}</span></strong></a>
        <a class="btn fa fa-info fa-2x"   routerLink='./markets'></a>
        <a class="btn"  routerLink='./gainers-losers'><span class="fa fa-thumbs-o-up fa-2x"></span><span class="fa fa-thumbs-o-down fa-flip-horizontal fa-2x"></span></a>
        <a class="btn fa fa-exchange fa-2x dgreen" title="Instant Trade" routerLink='./buy-sell/undefined'></a>
       <!-- <ng-container *ngIf="isLogedIn">
            <a class="btn fa fa-history fa-lg" title="Orders histoty" routerLink='./orders-history'></a>

        </ng-container>-->
        <a *ngIf="!isLogedIn"  class="btn fa fa-sign-in fa-flip-horizontal fa-lg dgreen" (click)="onLoginClick()" ></a>
        <a *ngIf="!!isLogedIn" class="btn fa fa-sign-out fa-lg dred"  (click)="onLogoutClick()" ></a>
    </nav>
    <hr/>
    <hr/>

    <router-outlet></router-outlet>
</div>
