<div>
 <span>History </span>
        <a href="https://bittrex.com/Market/Index?MarketName={{base}}-{{coin}}" target="_blank">{{base}}-{{coin}}</a>
    <div >
        <table class="table-small">
            <tbody>
            <tr class="small">
                <td>Last</td>
                <td>Low</td>
                <td>High</td>
                <td>Ask</td>
                <td>Bid</td>
            </tr>
            <tr>
                <td>{{marketDetails.Last}}</td>
                <td>{{marketDetails.Low}}</td>
                <td>{{marketDetails.High}}</td>
                <td>{{marketDetails.Ask}}</td>
                <td>{{marketDetails.Bid}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <span>{{durationD}} <small>min</small></span>    &nbsp;&nbsp;
        <span> {{speedD}} /<small>min</small></span> &nbsp;&nbsp;
    <span  [ngClass]="(marketVolumeChange < 0)?'red':'green'">V: {{marketVolumeChange.toFixed(2)}} %</span>



    <div class="myFlex text-center" >
        <div >
            <table *ngIf="historyStats2">
                <tbody>
                <tr class="small">
                    <th><sup>{{historyLength}}</sup></th>
                    <th><span [ngClass]="isBuying?'green':'red'">Total</span></th>
                    <th>Price</th>
                    <th>Max</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td><span [ngClass]="isSellUp?'green':'red'">Sold:</span></td>
                    <td>{{historyStats.sold.amount}} </td>

                    <td>{{historyStats.sold.priceUS}}</td>
                    <td>{{historyStats.maxSold.amount}}</td>
                    <td>{{historyStats.maxSold.priceUS}}</td>
                </tr>
                <tr>
                    <td><span [ngClass]="isBuyUp?'green':'red'">Bought</span></td>
                    <td>{{historyStats.bought.amount}}</td>
                    <td>{{historyStats.bought.priceUS}}</td>
                    <td>{{historyStats.maxBought.amount}}</td>

                    <td>{{historyStats.maxSold.priceUS}}</td>
                </tr>

                <tr>
                    <td colspan="5">Last 50</td>
                </tr>

                <tr>
                    <td>Sold:</td>
                    <td>{{historyStats1.sold.amount}} </td>

                    <td>{{historyStats1.sold.priceUS}}</td>
                    <td>{{historyStats1.maxSold.amount}}</td>

                    <td>{{historyStats1.maxSold.priceUS}}</td>
                </tr>

                <tr>
                    <td>Bought</td>
                    <td>{{historyStats1.bought.amount}}</td>

                    <td>{{historyStats1.bought.priceUS}}</td>
                    <td>{{historyStats1.maxBought.amount}}</td>

                    <td>{{historyStats1.maxSold.priceUS}}</td>
                </tr>

                <tr>
                    <td colspan="5">Prev 50</td>
                </tr>

                <tr>
                    <td>Sold:</td>
                    <td>{{historyStats2.sold.amount}} </td>

                    <td>{{historyStats2.sold.priceUS}}</td>
                    <td>{{historyStats2.maxSold.amount}}</td>

                    <td>{{historyStats2.maxSold.priceUS}}</td>
                </tr>

                <tr>
                    <td>Bought</td>
                    <td>{{historyStats2.bought.amount}}</td>

                    <td>{{historyStats2.bought.priceUS}}</td>
                    <td>{{historyStats2.maxBought.amount}}</td>

                    <td>{{historyStats2.maxSold.priceUS}}</td>
                </tr>

                </tbody>
            </table>
        </div>

        <div>
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <mat-checkbox #baseUSDT  (change)="onAutoClick($event)">Auto </mat-checkbox>
            <br/>
            <br/>
            &nbsp;&nbsp;
            <a [ngClass]="isHistoryLoading?'scale05':''" class="btn dgreen fa fa-refresh fa-3x" title="History " (click)="refreshMarketHistory()"></a>
            <sub>{{refreshCount}}</sub>
        </div>

    </div>

   <!-- <div *ngIf="historyStats">
        <diV>Sold: {{historyStats.sold.amount}} Avr: {{historyStats.sold.price}} Max: {{historyStats.maxSold.amount}} Price: {{historyStats.maxSold.price}}</diV>
        <diV>Bought: {{historyStats.bought.amount}} Avg:{{historyStats.bought.price}} Max: {{historyStats.maxBought.amount}} Price: {{historyStats.maxBought.price}}</diV>
    </div>
<br/>
    <div>Last 50:</div>
    <div *ngIf="historyStats1">

        <diV>Sold: {{historyStats1.sold.amount}} Avr: {{historyStats1.sold.price}} Max: {{historyStats1.maxSold.amount}} Price: {{historyStats1.maxSold.price}}</diV>
        <diV>Bought: {{historyStats1.bought.amount}} Avg:{{historyStats1.bought.price}} Max: {{historyStats1.maxBought.amount}} Price: {{historyStats1.maxBought.price}}</diV>
    </div>
    <br/>
    <div>Prev 50:</div>
    <div *ngIf="historyStats2">
        <diV>Sold: {{historyStats2.sold.amount}} Avr: {{historyStats2.sold.price}} Max: {{historyStats2.maxSold.amount}} Price: {{historyStats2.maxSold.price}}</diV>
        <diV>Bought: {{historyStats2.bought.amount}} Avg:{{historyStats2.bought.price}} Max: {{historyStats2.maxBought.amount}} Price: {{historyStats2.maxBought.price}}</diV>
    </div>-->
   <!-- <section>
        <table>
            <tr>
                <td>Action</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>BASE</td>
                <td>Date</td>
            </tr>
            <tr *ngFor="let record of marketHistory">
                <td>{{record.OrderType}}</td>
                <td>{{record.Price}}</td>
                <td>{{record.Quantity}}</td>
                <td>{{record.Total}}</td>
                <td>{{record.TimeStamp}}</td>
            </tr>
        </table>
    </section>-->
</div>
