<diV>
    <div>
    </div>
    {{menu | async}}
    <mat-sidenav-container >
        <mat-sidenav #sidenav>
            <mat-list>
                <a mat-list-item routerLink='/market-cap/selected'>Coin Market Cap</a>
                <hr/>
                <a mat-list-item routerLink='/trader/common-markets'>Common Markets</a>
                <hr/>

                <a mat-list-item routerLink='trader/live-trader/bitfinex/USDT_BTC'>Candles</a>

                <a mat-list-item routerLink='/my-exchange/balances/'>Balances</a>
                <hr/>
                <a mat-list-item routerLink='/login/register'>Register</a>
            </mat-list>

        </mat-sidenav>

        <div class="navbar">
            <small><small class="btn" (click)="onRefreshClick()">{{countDown}}</small></small>
            <div (click)="sidenav.open()" class="fa fa-bars btn large round">  </div>            &nbsp;
            <ng-container *ngIf="isMenu">
                <small> H: {{historyCounter}}</small>
                <strong class="small">{{nickname}}</strong>
                <a *ngIf="!isLogedIn" class="btn" (click)="onLoginClick()">Login</a>
                <a *ngIf="!!isLogedIn" class="btn" (click)="onLogout()">Logout</a>
                <a  class="btn dred small " (click)="onClearStorage()">Clear Storage</a>
            </ng-container>


            <div class="right">
                <a [ngClass] ="imageClass" (click)="onDogClick()" class="btn watchdog">    </a>
            </div>
            <app-bots-running></app-bots-running>
            &nbsp;&nbsp;
           <a routerLink="/market-cap/gainers-losers/last">
               <span class="fa fa-thumbs-o-up fa-2x btn yellow"></span>
               <span class="fa fa-thumbs-o-down fa-flip-horizontal fa-2x btn yellow"></span>
           </a>
            <app-scanner></app-scanner>
            <mat-checkbox #openOrdersCheck>FO</mat-checkbox>
            <app-btc-tether></app-btc-tether>
            <app-follow-order-list *ngIf="openOrdersCheck.checked" ></app-follow-order-list>


        </div>
        <div id="MainOutlet" [ngClass]="bgColor">
            <br/>

            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>

    </mat-sidenav-container>
</diV>
