<diV>
    <div>
    </div>
    {{menu | async}}
    <mat-sidenav-container >
        <mat-sidenav #sidenav>
            <mat-list>
                <a mat-list-item routerLink='/market-cap/selected'>Coin Market Cap</a>
                <hr/>
                <a mat-list-item routerLink='/my-exchange/balances/'>Balances</a>
                <hr/>
                <a mat-list-item routerLink='/login/register'>Register</a>
            </mat-list>

        </mat-sidenav>

        <div class="navbar">
            <small><small class="btn" (click)="onRefreshClick()">{{countDown}}</small></small>
            <div (click)="sidenav.open()" class="fa fa-bars btn large round">  </div>            &nbsp;
            <ng-container *ngIf="isMenu">
                <small> H: {{historyCounter}}</small>
                <strong class="small">{{nickname}}</strong>
                <a *ngIf="!isLogedIn" class="btn" (click)="onLogin()">Login</a>
                <a *ngIf="!!isLogedIn" class="btn" (click)="onLogout()">Logout</a>
                <a  class="btn dred small " (click)="onClearStorage()">Clear Storage</a>
            </ng-container>


            <app-bots-running></app-bots-running>


                <div class="right">
                    <a [ngClass] ="imageClass" (click)="onDogClick()" class="btn watchdog">    </a>


                </div>


        </div>
        <div id="MainOutlet" [ngClass]="bgColor">
            <br/>

            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>

    </mat-sidenav-container>
</diV>
