<div>


    <mat-grid-list cols="3" rowHeight="2:2">
      <!--
       <mat-grid-tile>
            <app-trader-socket [exchange]="'poloniex'" [market]="'USDT_BTC'"></app-trader-socket>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-trader-socket [exchange]="'bitfinex'" [market]="'USDT_BTC'"></app-trader-socket>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-trader-socket [exchange]="'binance'" [market]="'USDT_BTC'"></app-trader-socket>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-trader-socket [exchange]="'hitbtc'" [market]="'USDT_BTC'"></app-trader-socket>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-trader-socket [exchange]="'bittrex'" [market]="'USDT_BTC'"></app-trader-socket>
        </mat-grid-tile>-->

       <mat-grid-tile>
            <app-trader-recorder [exchange]="'poloniex'" [market]="'USDT_BTC'"></app-trader-recorder>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-trader-recorder [exchange]="'bitfinex'" [market]="'USDT_BTC'"></app-trader-recorder>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-trader-recorder [exchange]="'binance'" [market]="'USDT_BTC'"></app-trader-recorder>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-trader-recorder [exchange]="'bittrex'" [market]="'USDT_BTC'"></app-trader-recorder>
        </mat-grid-tile>
    </mat-grid-list>


</div>
