<div>


    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <app-trader-socket [exchange]="'poloniex'" [market]="'USDT_BTC'"></app-trader-socket>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-trader-socket [exchange]="'bitfinex'" [market]="'USDT_BTC'"></app-trader-socket>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-trader-socket [exchange]="'binance'" [market]="'USDT_BTC'"></app-trader-socket>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-trader-socket [exchange]="'hitbtc'" [market]="'USDT_BTC'"></app-trader-socket>
        </mat-grid-tile>
    </mat-grid-list>
    <app-trader-socket [exchange]="'bittrex'" [market]="'USDT_BTC'"></app-trader-socket>

</div>
