<div>
    <section>
        <h4>BitFinex </h4><small *ngIf="marketsAr">Total: {{marketsAr.length}}</small>
        <table>
            <tbody>
            <tr>
                <th>Pair</th>
                <th>Ask</th>
                <th>Bid</th>
                <th>High</th>
                <th>Last Price</th>
                <th>Low</th>
                <th>Mid</th>
                <th>volume</th>
                <th>Timestamp</th>
            </tr>
            <tr *ngFor="let market of marketsAr">
                <td class="btn" (click)="onMarketClick(market)">{{market.pair}}</td>

                <td>{{market.ask}}</td>
                <td>{{market.bid}}</td>
                <td>{{market.high}}</td>
                <td>{{market.last_price}}</td>
                <td>{{market.low}}</td>
                <td>{{market.mid}}</td>
                <td>{{market.volume}}</td>
                <td>{{market.timestamp}}</td>

            </tr>
            </tbody>
        </table>
    </section>

</div>
