<div>
    <section>
        <h5>Gainers</h5>
        <table>
            <tbody>
            <tr>
                <td>Rank</td>
                <td>US</td>
                <td>Sumbol</td>
                <td>1h</td>
                <td>24h</td>
                <td>7d</td>
            </tr>
            <tr *ngFor="let gainer of gainersAr">
                <td>{{gainer.rank}}</td>
                <td>{{gainer.price_usd}}</td>
                <td>{{gainer.symbol}}</td>
                <td>{{gainer.percent_change_1h}}</td>
                <td>{{gainer.percent_change_24h}}</td>
                <td>{{gainer.percent_change_7d}}</td>
            </tr>
            </tbody>
        </table>
    </section>

    <section>
        <table>
            <tbody>
            <tr>
                <td></td>
                <td>coin</td>
                <td>Price</td>
                <td>Price</td>

                <td>To MC</td>
                <td>Buy/H</td>
                <td>Total</td>
                <td>Books</td>

            <td>1h</td>
            <td>24h</td>
            <td>7d</td>
            </tr>

            <tr *ngFor="let summary of summaries" >
                <td>{{summary.coinMC.rank}}</td>
                <td>{{summary.coin}}</td>
                <td>{{summary.coinMC.price_usd}}</td>
                <td>{{summary.priceLastUS}}</td>
                <td>{{summary.priceToMC}}</td>

                <td>{{summary.perHourBuy}}</td>

                <td>{{summary.totalUS}}</td>
                <td>{{summary.booksDiff}}</td>
                <td>{{summary.coinMC.percent_change_1h}}</td>
                <td>{{summary.coinMC.percent_change_24h}}</td>
                <td>{{summary.coinMC.percent_change_7d}}</td>

            </tr>
            </tbody>
        </table>
    </section>
</div>
