<div>
    <div class="mat-subheading-2">
        <span>Watchdog</span>
        <sup *ngIf="watchDog">{{watchDog.id}}</sup>
        &nbsp;  &nbsp;  &nbsp;
        <a class="fa fa-bolt fa-2x dgreen btn" routerLink="/email-service/watchdog-test/{{watchDog.id}}"></a>
    </div>


   <!-- <a class="fa fa-line-chart btn" routerLink="/my-bot/coin-graph/{{watchDog.coin}}"></a>
    <mat-checkbox [(ngModel)]="watchDog.isEmail">Email</mat-checkbox>-->

    <section>
        <p>
           <!-- <mat-form-field class="w6">
                <mat-select placeholder="Exchange" [(ngModel)]="watchDog.exchange">
                    <mat-option *ngFor="let exchange of exchanges" [value]="exchange">{{exchange}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w6">
                <mat-select placeholder="Base" [(ngModel)]="watchDog.base">
                    <mat-option *ngFor="let base of bases" [value]="base">{{base}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w6">
                <mat-select placeholder="Coin" [(ngModel)]="watchDog.coin" (ngModelChange)="onCoinChange($event)">
                    <mat-option *ngFor="let coin of selectedCoins" [value]="coin">{{coin}}</mat-option>
                </mat-select>
            </mat-form-field>-->

           <!-- <mat-form-field class="w6">
                <input class="w5" matInput placeholder="Amount" type="number" [(ngModel)]="watchDog.amount"/>
            </mat-form-field>-->

        </p>

        <p>
           <!-- <mat-form-field>
                <input matInput placeholder="Name" type="text" [(ngModel)]="watchDog.name"/>
            </mat-form-field>-->
            <mat-radio-group [(ngModel)]="watchDog.orderType">
                <mat-radio-button value="SELL">SELL</mat-radio-button>
                <mat-radio-button value="BUY">BUY</mat-radio-button>
            </mat-radio-group>
        </p>

        <p>
            <mat-checkbox [(ngModel)]="watchDog.isActive">Active</mat-checkbox>
            <button mat-raised-button color="accent" (click)="saveWatchdog()">Save</button>
        </p>

    </section>
    <br/>
    <section>
        <table>
            <tbody>
            <tr class="small">
                <th>Symbol</th>
                <th>% 1h</th>
                <th>% 24h</th>
                <th>% 7d</th>
                <th>$US</th>
                <th>$B</th>
                <th>
                    <small>Rank</small>
                </th>
            </tr>
            <tr>
                <td>
                    <a href="https://coinmarketcap.com/currencies/{{coinMC.id}}" target="_blank"
                       class="btn fa fa-line-chart"></a>

                    <span>{{coinMC.symbol}}</span>
                </td>
                <td><span [ngClass]="coinMC.percent_change_1h>0?'dgreen':'dred'">{{coinMC.percent_change_1h}}</span>
                    <sub>{{coinMC.percent_change_1h}}</sub></td>
                <td>
                    <span [ngClass]="coinMC.percent_change_24h>0?'dgreen':'dred'">{{coinMC.percent_change_24h}}</span>

                </td>
                <td>
                    <span [ngClass]="coinMC.percent_change_7d>0?'dgreen':'dred'">{{coinMC.percent_change_7d}}</span>

                <td><span>{{coinMC.price_usd}}</span></td>
                <td>
                    <small>{{coinMC.price_btc}}</small>
                </td>
                <td>{{coinMC.rank}}</td>

            </tr>
            </tbody>
        </table>
    </section>

   <!-- <section>
        <h4>Sell Script</h4>
        <app-add-script [scripAr]="watchDog.sellScripts"></app-add-script>

        <h4>Buy Script</h4>
        <app-add-script [scripAr]="watchDog.buyScripts"></app-add-script>

    </section>-->
    <section>
        <h4>Reports</h4>
        <span class="btn fa fa-trash dred" (click)="onClearReportClick()"></span>
        <div>{{reports}}</div>
    </section>


</div>
