<div>
    <mat-form-field class="w8" >
        <mat-select [ngModel] = "currentExchange"  placeholder="Select Exchange" (ngModelChange)="onExchangeChanged($event)">
            <mat-option *ngFor="let exchange of exchanges" [value]="exchange">
                {{market.pair}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="w8" >
        <mat-select [ngModel] = "currentMarket"  placeholder="Select Market" (ngModelChange)="onMarketChanged($event)">
            <mat-option *ngFor="let market of markets" [value]="market">
                {{market.pair}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>
