<div class="coin-graph">
    <span class="mat-title"><small>Coin Day </small>
        {{coin}}
    </span>
    <p>
        <span>rank {{rankFirst}} - {{rankLast}}</span> &nbsp; &nbsp;
        <app-mc-percent *ngIf="mcCoin" [marketcap]="mcCoin"></app-mc-percent>
    </p>
    <div>
        <div class="inline-block">
            <div>{{from}}</div>
            <div>{{to}}</div>
        </div>
        &nbsp;
        <div class="inline-block">
            <a class="btn" (click)="onMinus12h()">-12h</a>
            &nbsp;&nbsp;
            <a class="btn" (click)="onPlus12h()">+12h</a>
            &nbsp;&nbsp;
            <a class="btn" (click)="onMinus1D()">-1D</a>
            &nbsp;&nbsp;
            <a class="btn" (click)="onPlus1D()">+1D</a>
            &nbsp;&nbsp;
            <a class="btn" (click)="onNowClick()">Last</a>
            &nbsp;&nbsp;
            <a class="btn" (click)="onAllClick()">All</a>
            &nbsp;&nbsp;
            <span class="dred">{{skips}}</span>
        </div>
    </div>
    <br/>
    <app-line-chart [graphs]="myGraps"></app-line-chart>
    <app-line-graph [linegraphs]="myGraps2"></app-line-graph>
</div>
