<div>
    <span class="mat-title">{{watchDog.action}}</span> <sup>{{watchDog.id}}</sup>
    <div>{{watchDog.name}} &nbsp; &nbsp; &nbsp;  </div>


    <mat-list>
        <mat-list-item *ngFor="let scriptText of scripts">
            <span contenteditable="true">{{scriptText}}</span>
        </mat-list-item>
    </mat-list>



    <section class="overlap">
        <app-coin-day [coin]="watchDog.coin" (coindatas)="onCoinDataChange($event)"></app-coin-day>
        <div class="triggers">
            <app-line-graph *ngIf="triggers" [linegraphs]="triggers" [horizont]="0" [vertical]="0" [height]="150"></app-line-graph>
        </div>

    </section>

</div>
