<div xmlns="http://www.w3.org/1999/html">
    <h3>Poloniex</h3> <small *ngIf="marketsAr">Total {{marketsAr.length}}</small>
    <a mat-list-item routerLink='/poloniex/data'>Available </a>
    <section>
        <table>
            <tr>
                <th>Pair</th>
                <th>MarketCap</th>

                <th><small>$</small>Last</th>

                <th><small>%</small>&Delta;l-h</th>
                <th><small>%</small>&Delta;24h</th>

                <th><small>%</small> Change</th>

            </tr>
            <tbody>
            <tr *ngFor="let item of marketsAr">
                <td>{{item.pair}}</td>
                <td><small>$</small>{{item.usd_mcap}}</td>
                <td ><small>$</small>{{item.usd_last}}</td>
                <td>{{item.delta}}</td>
                <td [ngClass] ="item.is_last_up?'green':'red'" title="Prev Day: {{item.prevDay}} Last: {{item.last}}">{{item.delta24}}</td>

                <td>{{item.percentChange}}</td>

            </tr>
            </tbody>

        </table>

    </section>

</div>
