<div>
        <table>
            <tbody>
            <tr class="small">
                <th>Graph</th>
                <th class="btn" (click)="onClickHeader('symbol')">Symbol</th>
                <th  class="btn" (click)="onClickHeader('percent_change_1h')">%1h</th>
                <th  class="btn" (click)="onClickHeader('percent_change_24h')" >%24h</th>
                <th  class="btn" (click)="onClickHeader('percent_change_7d')">%7d</th>
                <th  class="btn" (click)="onClickHeader('price_usd')">$US</th>
                <th  class="btn" (click)="onClickHeader('rank')"><small>Rank</small></th>
                <th  class="btn" (click)="onClickHeader('r6')"><small> % r6</small></th>
                <th  class="btn" (click)="onClickHeader('r24')"><small> % r24</small></th>
            </tr>
            <tr *ngFor="let item of consAvailable">
                <td><a href="https://coinmarketcap.com/currencies/{{item.id}}" target="_blank" class="btn"> <img class="w1 icon" src="/icons/{{item.id}}.png"/> </a></td>
                <td><a  title="{{item.name}}" class="btn" (click)="onSymbolClick(item)">{{item.symbol}}</a></td>
                <td>
                    <span
                            [ngClass]="item.percent_change_1h>0?'dgreen':'dred'"
                    >{{item.percent_change_1h}}</span>
                </td>
                <td>
                    <span [ngClass]="item.percent_change_24h>0?'dgreen':'dred'">{{item.percent_change_24h}}</span>

                </td>
                <td>
                    <span [ngClass]="item.percent_change_7d>0?'dgreen':'dred'">{{item.percent_change_7d}}</span>
                </td>

                <td class="small "  (click)="onPriceClick(item)">{{item.price_usd | myUs}}</td>
                <td  (click)="onRankClick(item)">{{item.rank}}</td>
                <td>{{item.r6}}</td>
                <td>{{item.r24}}</td>

            </tr>
            </tbody>
        </table>
</div>
