<div>
 <section>
     <h4>Kraken </h4><small *ngIf="marketsAr">Total: {{marketsAr.length}}</small>
     <table>
         <tbody>
         <tr>
             <th>Pair</th>
             <th>leverage buy</th>
             <th>leverage sell</th>
             <th>a</th>
             <th>b</th>
             <th>c</th>
             <th>h</th>
             <th>l</th>
             <th>o</th>
             <th>t</th>
             <th>v</th>
         </tr>
         <tr *ngFor="let market of marketsAr">
            <td class="btn" (click)="onMarketClick(market)">{{market.pair}}</td>

             <td>{{market.leverage_buy}}</td>
             <td>{{market.leverage_sell}}</td>
             <td>{{market.a}}</td>
             <td>{{market.b}}</td>
             <td>{{market.c}}</td>
             <td>{{market.h}}</td>
             <td>{{market.l}}</td>
             <td>{{market.o}}</td>
             <td>{{market.p}}</td>
             <td>{{market.t}}</td>
             <td>{{market.v}}</td>




         </tr>
         </tbody>
     </table>
 </section>

</div>
