<div>
    <div>
        <span [ngClass]="summaryColor">{{summary}}</span>
        &nbsp;&nbsp;<small>fee: $</small><span>{{totalFee}}</span>
        &nbsp;
        <a [ngClass]="(loadingOpenOrders || loadingOrdersHistory)?'scale05':''" class="btn fa fa-refresh fa-2x dgreen" (click)="onRefreshOrdersClick()"></a>
    </div>
    <div class="scrollY100">
        <table class="table-small" (mousedown)="onTableTap()">
            <tr *ngFor="let order of allOrders">
                <td>{{order.act}}</td>
                <td>{{order.amountCoinUS}}</td>
                <td>{{order.priceUS}}</td>
                <td><span *ngIf="order.isOpen" class="btn fa fa-minus-circle dred fa-2x" (click)="onCancelOrderClick(order)"></span></td>
            </tr>

        </table>
    </div>

</div>
