#SearchAllCoin{
    height: 600px;
    overflow: auto;
}


#SearchResults{
    height: 200px;
    overflow: auto;
}

mat-input-container {
    border: #ff4081 solid;
    border-width: 0 0 1px 1px;
}

mat-progress-spinner{
    width: 30px;
    height: 30px;
    display: inline-block;
}
