<section>
    <h4>History {{symbol}}</h4>
    <table class="small">
        <tbody>
        <tr>
            <td>Date</td>
            <td>Action</td>
            <td>Amount</td>
            <td>Price</td>
            <td>Base</td>
        </tr>
        <tr *ngFor="let order of history">
            <td>{{order.date}}</td>
            <td>{{order.action}}</td>
            <td>{{order.amountBaseUS}}</td>
            <td>{{order.priceUS}}</td>
            <td>{{order.base}}</td>

        </tr>
        </tbody>
    </table>
</section>