<div>
    <nav>
    </nav>
    <section>
        <h3>Bots         <small><a  routerLink='/my-bittrex/bot-edit/new'>New Bot</a></small> </h3>

            <button color="accent" mat-raised-button  (click)="startStopTimer()" title="{{start_stop}}">
                <mat-progress-spinner  [diameter]="24" [strokeWidth]="2"
                                       [mode]="isDeterminate ? 'determinate' : 'indeterminate'"
                                       [value]="progressValue" ></mat-progress-spinner>
                <span *ngIf="!isRunning" class="fa fa-play"></span>
                <span *ngIf="isRunning" class="fa fa-pause"></span>
        </button>
        <span>{{seconds}}s</span>
        <span> Counter {{counter}}</span>

        <table>
            <tbody>
                <tr>
                    <th></th>
                    <th>Market</th>
                    <th>$US</th>
                    <th>Active</th>
                    <th>Created</th>
                </tr>
            <tr *ngFor="let bot of myBots">
                <td>
                    <a class="fa fa-minus" (click)="onDeleteBotClick(bot)"></a>
                    <a class="fa fa-edit" routerLink='/my-bittrex/bot-edit/{{bot.id}}'></a>
                </td>
                <td>{{bot.botData.market}}</td>
                <td>${{bot.botData.amountUS}}</td>
                <td>{{bot.botData.active}}</td>
                <td>{{bot.created}}</td>

            </tr>

            </tbody>
        </table>
    </section>
</div>
