<div>
    <h3>{{id}}</h3>
    <mat-radio-group aria-label="Select Type"
                     [value]="data.wdType$ | async"
                     (change)="onTypeChanged($event)">
        <mat-radio-button value="OFF">OFF</mat-radio-button>
        &nbsp;
        <mat-radio-button value="LONG">LONG</mat-radio-button>
        &nbsp;
        <mat-radio-button value="SHORT">SHORT</mat-radio-button>
    </mat-radio-group>
    <br/>
    <br/>
    <mat-form-field class="w3">
        <input matInput
               [(ngModel)]="amountPots"
               [type]="'number'"
               [step]="1"
               placeholder="Pots"
        >
    </mat-form-field>

    &nbsp;&nbsp;

    <mat-form-field class="w5">
        <input matInput
               [(ngModel)]="entryPrice"
               placeholder="Entry Price"
        >
        <mat-hint (click)="onHintEntryPriceClick()" >{{hintEntryPrice}}</mat-hint>

    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field class="w5">
        <input matInput
               [(ngModel)]="liquidPrice"
               placeholder="Liquid Price"
        >
        <mat-hint (click)="onHintLiquidPriceClick()" >{{hintLiquidPrice}}</mat-hint>
    </mat-form-field>
    &nbsp;&nbsp;
    <span class="btn" (click)="onApplyClick()"><mat-icon>save</mat-icon></span>


    <div>
       <span class="mat-body-1">Open Orders</span>
        &nbsp;&nbsp;
        <span (click)="refreshOpenOrders()" class="btn">
        <mat-icon>refresh</mat-icon>
        </span>
        <table>
            <tr *ngFor="let order of (openOrders$ | async)">
                <td>{{order.action}}</td>
                <td>{{order.amountCoin}}</td>
                <td>{{order.rate}}</td>
                <td>{{order.stopPrice}}</td>
                <td class="btn" (click)="onCancelOrderClick(order)">X</td>
            </tr>
        </table>
    </div>


</div>
