<div>
    <section class="line">
        <small>Current Order: {{currentOrder.uuid}}</small>
        <span *ngIf="currentOrder.isOpen" class="btn fa fa-minus-circle dred fa-2x" (click)="onCancelOrder(currentOrder.uuid)"></span>
    </section>
    <section class="line">
        <div class="scrollmenu">

                <mat-radio-group [(ngModel)] = "amountUS" (ngModelChange)="onAmountChanged($event)" >
                    <a>
                        <mat-radio-button value="50">$50</mat-radio-button>
                    </a>
                    <a>
                        <mat-radio-button value="100">$100</mat-radio-button>
                    </a>
                    <a>
                        <mat-radio-button value="200">$200</mat-radio-button>
                    </a>
                    <a>
                        <mat-radio-button  value="400">$400</mat-radio-button>
                    </a>
                    <a>
                        <mat-radio-button value="600">$600</mat-radio-button>
                    </a>
                    <a>
                        <mat-radio-button value="1000">$1000</mat-radio-button>
                    </a>
                    <a>
                        <mat-radio-button value="2000">$2000</mat-radio-button>
                    </a>
                    <a>
                        <mat-radio-button value="4000">$4000</mat-radio-button>
                    </a>
                    <a>
                        <mat-radio-button value="6000">$6000</mat-radio-button>
                    </a>
                    <a>
                        <mat-radio-button value="10000">$10000</mat-radio-button>
                    </a>

                </mat-radio-group>

        </div>

    </section>
    <div class="myFlex">
        <div class="myFlexCol">
            <table class="text-center table-small">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <small>{{percentDiff}}%</small>
                        </td>
                    </tr>
                    <tr  (click)="onRefreshBooksClick()">
                        <td>
                            <strong  [ngClass]="isBooksLoading?'blur-text':''" class="large">{{rateByBooks.sellUS}}</strong>
                        </td>
                        <td>
                            <span [ngClass]="isBooksLoading?'scale05':''" class="btn fa fa-refresh green"></span>
                        </td>
                        <td>
                            <strong  [ngClass]="isBooksLoading?'blur-text':''" class="large">  {{rateByBooks.buyUS}}  </strong>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <small  [ngClass]="sellColor">{{sellChange}}%</small>
                        </td>
                        <td>

                        </td>
                        <td>
                            <small  [ngClass]="buyColor">{{buyChange}}%</small>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <button mat-fab  class="green-color" (click)="onBuyClick()" >Buy</button>
                        </td>
                        <td>

                        </td>
                        <td>
                            <button mat-fab  color="accent" (click)="onSellClick()" >Sell</button>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>

        <div class="myFlexCol">
            <app-trading-history
                    [priceBaseUS]="priceBaseUS"
                    [newOrder]="oredrCopmlete"
                    [coin]="coin"
                    [base]="base"
                    [exchange]="exchange"
                    [ordersHistory]="ordersHistory"
            ></app-trading-history>
        </div>
    </div>
</div>
