<div>
    <div>
        <h4>{{scanner.statsSub | async}}</h4>
        <small>{{exchange}}</small>
        <button mat-button="" (click)="onStartClick()">{{scanner.scanInterval?'Stop':'Scan'}}</button>

       <!-- <button mat-button="" (click)="onFallClick()">{{falIntrval?'Scanning':'Scan'}} FALL</button>-->
        <mat-checkbox (change)="onExcludesChange($event)">Excludes</mat-checkbox>
        <mat-checkbox (change)="onFavoriteChange($event)">Favorite</mat-checkbox>
        <mat-checkbox #trendDownCheck >Trend Down</mat-checkbox>
        <button mat-button="" (click)="onClearMemoryClick()">Clear Memory</button>
    </div>
    <small>{{scanner.statsSub | async}}</small>

    <div class="scrollY300" *ngIf="trendDownCheck.checked">
        <button mat-button="" (click)="onDownClick()">DOWN</button>
        <span class="fa fa-trash btn dred fa-2x" (click)="onDeleteTrendDownClick()"></span>
        <app-table-props [dataset]="scanner.marketsTrendDown | async" (selected)="onTrendDownClick($event)"></app-table-props>
    </div>
    <div class="scrollY300" *ngIf="excludes">
        <button mat-button="" (click)="onExcludeDownTrendClick()">Down Trend</button>
        <span class="fa fa-trash btn dred fa-2x" (click)="onDeleteExcludesClick()"></span>
        <app-table-props [dataset]="excludes" (selected)="onExcludeClick($event)"></app-table-props>
    </div>
    <div class="scrollY300" *ngIf="favorites">
        <app-table-props [dataset]="favorites" (selected)="onFavoritesClick($event)"></app-table-props>
    </div>
    <div>
       <app-table-props [dataset]="currentData" (selected)="onDatasetClick($event)"></app-table-props>
    </div>
    <mat-checkbox #cmc> CMC</mat-checkbox>
    <span class="fa fa-trash btn dred fa-2x" (click)="onDeleteClick()"></span>
    <div class="horizontal">
        <div class="scrollY300">
            <app-table-props [dataset]="notifications2" (selected)="onDatasetClick($event)"></app-table-props>

        </div>
        <div class="scrollY300">
            <app-table-props [dataset]="notifications" (selected)="onDatasetClick($event)"></app-table-props>
        </div>
    </div>

    <a class="btn" routerLink="/my-exchange/buy-sell/{{exchange}}/{{selectedMarket}}" >{{exchange}} {{selectedMarket}}</a>
    <span class="fa fa-star fa-2x dgreen" (click)="onStarClick()"></span>
    <span class="fa fa-plus fa-2x dgreen" (click)="onAddBotClick()"></span>

    <small>Media {{mediaPercent}}% ({{mediaPointsTo}})</small>
    <mat-form-field class="w6">
        <input matInput placeholder="Market"
               [(ngModel)]="userMarket"
              (keyup)="onMarketInput($event)"
        >
    </mat-form-field>
    <mat-form-field class="w3">
        <mat-select [(ngModel)]="candlesInterval" (change)="onCandlesIntrvalChange()">
            <mat-option value="1m">1m</mat-option>
            <mat-option value="5m" >5m</mat-option>
            <mat-option value="1h" >1h</mat-option>
            <mat-option value="6h" >6h</mat-option>
        </mat-select>
    </mat-form-field>

    <app-mc-data  [coin]="selectedMarket?selectedMarket.split('_')[1]:null"></app-mc-data>

    <div>
        <app-table-props [dataset]="analysData"  (selected)="onDatasetClick($event)"></app-table-props>
    </div>

   <app-candlesticks [candles]="candles"></app-candlesticks>
    <app-volume-hist [values]="volumes"></app-volume-hist>

</div>
