<div>
    <div>
        <small>{{exchange}}</small>
        <mat-spinner *ngIf="scanner.isScanning" [diameter]="24" class="mat-progress-spinner"></mat-spinner>

        <mat-checkbox #favoritesCheck (change)="onFavoriteChange($event)">Favorite</mat-checkbox>

        <mat-checkbox #buysellresults (change)="onBuySellResults($event)">Buy Sell</mat-checkbox>

        <mat-checkbox #botsCheck (change)="onBotsChange($event)">Bots</mat-checkbox>
        <mat-checkbox #patternCheck (change)="onPatternChange($event)">Pattern</mat-checkbox>
        <!--<button mat-button="" (click)="onClearMemoryClick()">Clear Memory</button>-->
    </div>

    <small (click)="onProgressClick()">{{scanner.currentMarket}} {{scanner.progressSub | async}}</small>

    <div *ngIf="patternCheck.checked">
        <h3>Pattern</h3>
        <mat-form-field class="w3">
            <input matInput placeholder="Volume"
                   [(ngModel)]="volumeDifference"
            >
        </mat-form-field>
        <mat-form-field class="w5">
            <mat-select [(ngModel)]="candlesInterval">
                <mat-option value="5m">5m</mat-option>
                <mat-option value="15m">15m</mat-option>
                <mat-option value="30m">30m</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button="" (click)="onPatternStartClick()">
            {{scanner.isScanning?'Stop':'Scan'}}
        </button>


    </div>

    <div class="scrollY300">
        <app-table-props [dataset]="scanResults$ | async" (selected)="onPatternClick($event)"></app-table-props>
    </div>


    <div *ngIf="botsCheck.checked">
        <h3>Bots</h3>
        <div class="scrollY300">
            <app-table-props [dataset]="bots" (selected)="onBotsClick($event)"></app-table-props>
        </div>
    </div>


    <div *ngIf="favoritesCheck.checked">
        <h4>Favorites</h4>
        <div class="scrollY300">
            <app-table-props [dataset]="dataset$ | async" (selected)="onFavoritesClick($event)"></app-table-props>
        </div>
    </div>

    <app-market-candles [exchange]="exchange" [market]="market" (onCandles)="onCandlesChage($event)" ></app-market-candles>

<!--
    <app-macd-indicator [closes]="closes" (onMACD)="onMACDChange($event)"></app-macd-indicator>

    <app-indicator
            [graphs]="myGraphs"
            [myWidth]="600"
            [myHeight]="100"
            [area]="area"
            [myTitle]="myTitle"
    >
    </app-indicator>-->
</div>
