<div class="mat-body">
    <span> {{mcdata.name}} </span>
    <span> {{mcdata.id}} </span>
    <span>  ${{mcdata.price_usd}}</span>
    &nbsp;&nbsp;&nbsp;
    <span [ngClass]="mcdata.percent_change_1h>0?'green':'red'">{{mcdata.percent_change_1h}}</span>
    &nbsp;&nbsp;&nbsp;
    <span [ngClass]="mcdata.percent_change_24h>0?'dgreen':'dred'">{{mcdata.percent_change_24h}}</span>
    &nbsp;&nbsp;&nbsp;
    <span [ngClass]="mcdata.percent_change_7d>0?'dgreen':'dred'">{{mcdata.percent_change_7d}}</span>
</div>
