<div class="mat-body" *ngIf="coinMC$ | async as coinMC;">
    &nbsp;
    <span> {{coinMC.name}} </span>
    &nbsp;
    <a class="mat-body-2 btn" href="https://coinmarketcap.com/currencies/{{coinMC.id}}/" target="_blank"> {{coinMC.symbol}} </a>
    &nbsp;
    <small>r</small>
    <span>{{coinMC.rank}}</span>
    &nbsp;<small>B</small>
    <span>{{coinMC.price_btc?coinMC.price_btc:'--'}}</span>
    &nbsp;
    <small> $</small>
    <span>{{coinMC.price_usd | myUs}}</span>
    &nbsp;
    <small>h</small>
    <span [myValueColor]="coinMC.percent_change_1h" title="1 hour"></span>
    &nbsp;
    <small>d</small>
    <span [myValueColor]="coinMC.percent_change_24h" title="1 day"> </span>
    &nbsp;
    <small>w</small>
    <span [myValueColor]="coinMC.percent_change_7d" title="1 week"> </span>
    &nbsp;
</div>
