/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}

.text-narrow{
    transform: scaleX(0.5);
    font-family: "Helvetica Narrow","Arial Narrow",sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.bg-red{
    background-color: #fff3f3;
}

.scrollY100{
    height: 100px;
    overflow-y:scroll;
}

div.scrollmenu{
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}


.line{
    margin-top: 5px;
}
sup, sub{
    font-weight:normal;
}

.myFlex{
    display: flex;
}
.myFlex25{
    flex-grow: 1;
    width: 25%;
}

.myFlex33{
    flex-grow: 1;
    width: 33%;
}
.myFlexCol{
    flex-grow: 1;
}
/*
@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 10px;
    }
}
*/

nav>a{
    margin: 5px;
}



.mat-progress-spinner {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.inline-block{
  display: inline-block;
}
.watchdog{
  background-image: url('assets/img/watchdogR256.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: auto;
}
.right{
  float: right;
}

.text-right{
  text-align: right;
}
.btns-row>a{
  margin-right: 1em;
  font-size: small;
}
md-sidenav{
  background-color: white;
}

.active-link{
  background-color: #dddddd;
}

.text-center{
  text-align: center;
}
.mat-progress-spinner path, .mat-spinner path {
  stroke: #fff;
}



.fa.fa-close, .fa.fa-edit{
  color: #dc6d3c;
}

.fa-plus{
    color: green;
}
.fa-minus{
    color: red;
}

.selected{
  border: solid thin red;
}
body {
    font-family: Roboto, Arial, sans-serif;
    /*margin: 10px 10px 0 10px;*/
    background-color: #fafafa }



#MainOutlet{
  min-height: 500px;
}


.round{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    margin-bottom: -30px;

}


.glow-red {
    -webkit-filter: drop-shadow(0 0 3px red);
    filter: drop-shadow(0 0 3px red);
}

/*table th{
  text-align: left;
}

table{
  border-spacing: 10px;
  border-collapse: separate;
}*/
table td {
  border-bottom: 1px solid #ddd;
    padding: 10px 2px 10px 2px;

}

.table-small td{
    padding: 2px 4px 2px 4px;
    border:none;
}

h2, h3, h4, h5{
  display: inline-block;
}
.content{

}

.gray{
    color: #333;
}

.green{
  color: green;
}
.dgreen{
  color: #006500;
}

.green-color{
    background-color: green !important;
    color: white !important;
}

.red{
  color: red;
}

.dred{
  color: #9b0a02;
}

.ell
{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.small{
  font-size: smaller;
}
.x-small{
  font-size: x-small;
}

.large{
  font-size: larger;
}
.x-large{
    font-size: x-large;
}


.w1{
  width: 1em !important;
}
.w2{
  width: 2em !important;
}
.w3{
  width: 3em !important;

}

.w4{
  width: 4em !important;

}
.w5{
  width: 5em !important;
}
.w6{
  width: 6em !important;
}
.w7{
  width: 7em !important;
}
.w8{
  width: 8em !important;
}
.w9{
  width: 9em !important;
}
.w10{
  width: 10em !important;
}
.w15{
    width: 15em !important;
}

.w32{
  width: 32px !important;
}
.w64{
  width: 64px !important;
}
.w50{
  width: 50px !important;
}
.w60{
  width: 60px !important;
}

.w80{
  width: 80px !important;
}

.w100{
  width: 100px !important;
}

.w120{
  width: 120px !important;

}
.w160{
  width: 150px !important;
}

.m60{
  margin-left: 60px !important;
}
.btn{
  cursor: pointer;
  text-decoration: underline;
}

.not-available{
  text-decoration: line-through;
}
.fabtn{
  cursor: pointer;
  box-shadow: 1px 1px 2px #a1a1a1;
  padding: 8px;
  border-radius: 5px;
  color: #9b0a02;
}


.icon-flip-horizontal {
-webkit-transform: scale(-1, 1);
 -moz-transform: scale(-1, 1);
 -ms-transform: scale(-1, 1);
 -o-transform: scale(-1, 1);
 transform: scale(-1, 1);
}

.icon-flip-vertical {
 -webkit-transform: scale(1, -1);
 -moz-transform: scale(1, -1);
 -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}


.scale05 {
    color: #a1a1a1;
    transition: all 0.3s;
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);

}

.text-blur{
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.img-blur{
    filter:blur(2px);
}

.alert-red{
    background-color: #9b0a02;
    color: white;
}
.alert-green{
    background-color: #006500;
    color: white;
}

