<div>
   <h4>Coin Market Cap</h4>
    <nav>
        <a routerLink="/market-cap/selected"  routerLinkActive="active-link">Selected</a>
        <a routerLink="/market-cap/all-coins"  routerLinkActive="active-link" >All</a>
        <a routerLink="/market-cap/gainers-losers" r routerLinkActive="active-link" >Gainers Losers</a>
       <!-- <a routerLink="/market-cap/exchanges-list"  routerLinkActive="active-link" >Exchanges</a>
        <a routerLink="/market-cap/coins-list"  routerLinkActive="active-link" >More </a>-->
    </nav>
    <router-outlet></router-outlet>
</div>
