<div>
    <h4>{{data.id}}</h4>

    <mat-radio-group aria-label="Select Type"
                     [value]="data.wdType$ | async"
                     (change)="onTypeChanged($event)" >
        <mat-radio-button value="OFF">off</mat-radio-button>
        <mat-radio-button value="LONG">long</mat-radio-button>
        <mat-radio-button value="SHORT">short</mat-radio-button>
    </mat-radio-group>

    <table>
        <tbody>
        <tr>
            <td>{{base}}</td>
            <td>{{coin}}</td>
        </tr>
        <tr>
            <td>{{balanceBase}}</td>
            <td>{{balanceCoin}}</td>
        </tr>
        </tbody>
    </table>

    <div>
        <div>
            &nbsp;&nbsp;
            <mat-form-field class="w3">
                <input matInput
                       [(ngModel)]="amountPots"
                       [type]="'number'"
                       (ngModelChange)="onAmountChanged()"
                       placeholder="Pots"
                >
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field class="w6">
                <input matInput
                       [(ngModel)]="price"
                       (ngModelChange)="onPriceChanged()"
                       placeholder="Limit Price">
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field class="w6">
                <input matInput
                       [(ngModel)]="stopLoss"
                       placeholder="Stop Loss">
                <mat-hint>{{stopLossPercent}}%</mat-hint>
            </mat-form-field>
            <br/>
            <div>
                <sub>Books</sub>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <sup>SL: </sup>
                <mat-slider
                        [(ngModel)]="stopLossPercent"
                        (change)="onStopLossPercentChanged()"
                        [thumbLabel]="true"
                        [max]="5"
                        [min]="0.5"
                        [step]="0.25"
                ></mat-slider>
                <br/>
                <span
                        (click)="onPriceBuyClick()"
                >{{bookBuy$ | async}}</span>
                &nbsp;&nbsp;
                <span
                        (click)="onRefreshBooksClick()"
                ><mat-icon>cached</mat-icon></span>
                &nbsp;&nbsp;
                <span
                        (click)="onPriceSellClick()"
                >{{bookSell$ | async}}</span>

            </div>
        </div>
    </div>
    <div>
        <button mat-raised-button (click)="onSaveClick()" >Save</button>
        &nbsp;&nbsp;
        <button mat-raised-button class="green-color" (click)="onBuyClick()">Buy Order</button>
        &nbsp;&nbsp;
        <button mat-raised-button color="accent" (click)="onSellClick()">Sell Order</button>
    </div>

</div>
