<div>
    <section>
        <h3>{{searchWord}} <small> {{searchTopic}}</small>  <small>Total: </small><span *ngIf="marketsAr">{{marketsAr.length}}</span></h3>
    </section>
    <section>

        <table>
            <tr class="small">

                <th>mc ex Name</th>

                <th class="btn" (click)="onSortClick('percent_change_1h')">1h%</th>
                <th class="btn" (click)="onSortClick('percent_change_24h')" >24h%</th>
                <th class="btn" (click)="onSortClick('percent_change_7d')">7d%</th>
                <th>$MC</th>

                <th>Last</th>
                <th>High</th>
                <th>Low</th>

                <th>Bid</th>
                <th>Ask</th>
                <th>Prev Day</th>

                <th>Volume</th>
                <th>Base Vol</th>
                <th>To Buy</th>
                <th>To Sell</th>

                <!-- <th>Time</th>-->

                <!--  <th>Sponsored</th>
                  <th>Created</th>
                  <th>Notice</th>-->
            </tr>
            <tr *ngFor="let market of marketsAr">

                <td>
                    <div  class="small w120">
                        <a class="btn fa fa-line-chart" href="https://coinmarketcap.com/currencies/{{market.coinId}}" target="_blank"></a>
                        <a class="btn fa fa-line-chart" (click)="onMarketGraphClick(market)"></a>
                        &nbsp;

                       <small><a class="btn" [ngClass]="market.disabled?'red':''" (click)="onMarketClick(market)">{{market.pair}}</a></small>
                    </div>

                </td>

                <td [ngClass]="market.percent_change_1h>0?'green':'red'">{{market.percent_change_1h}}</td>
                <td [ngClass]="market.percent_change_24h>0?'green':'red'">{{market.percent_change_24h}}</td>
                <td [ngClass]="market.percent_change_7d>0?'green':'red'">{{market.percent_change_7d}}</td>
                <td>{{market.usMC}}</td>

                <td>{{market.usLast}}</td>
                <td>{{market.usHigh}}</td>
                <td>{{market.usLow}}</td>

                <td>{{market.usBid}}</td>
                <td>{{market.usAsk}}</td>


                <td>{{market.usPrevDay}}</td>

                <td>{{market.dVolume}}</td>
                <td>{{market.dBaseVolume}}</td>

                <td>{{market.OpenBuyOrders}}</td>
                <td>{{market.OpenSellOrders}}</td>
            </tr>
        </table>


    </section>
</div>
