<div>

    <a routerLink="/my-exchange/balances/{{exchange}}" class="btn mat-subheading-1">{{exchange}}</a>

    <mat-form-field class="w8">
        <mat-select [(ngModel)]="currentMarket" placeholder="Select Market" (ngModelChange)="onMarketChanged($event)">
            <mat-option *ngFor="let market of marketsAvailable" [value]="market">
                {{market.base}}-{{market.coin}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button
            routerLink="/email-service/create-bot/{{exchange}}/{{base}}/{{coin}}"
            [queryParams]="{amount:balanceCoinUS}"
            [disabled]="!exchange || !base || !coin">
        <span>
            WD
        </span>
    </button>


    <section>

    <app-amount-coin [amount]="amountUS" (amountChanged)="onAmountChanged($event)"></app-amount-coin>

    <mat-card>

        <mat-card-content>
            <app-balance-market [exchange]="exchange" [market]="market"></app-balance-market>
        </mat-card-content>

        <mat-card-title>
            <div>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <mat-form-field class="w4">
                    <input matInput placeholder="Price" [(ngModel)]="userPriceUS"
                           (ngModelChange)="onUserPriceChanged($event)">
                    <mat-hint>{{userRate}}</mat-hint>
                </mat-form-field>
            </div>
        </mat-card-title>
        <mat-card-content>
            &nbsp; &nbsp;
            <button mat-fab
                    [ngClass]="isBuyDisabled?'':'green-color'"
                    [disabled]="isBuyDisabled"
                    (click)="onBuyClick()"
            >Buy
            </button>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <button mat-fab class="btn-sell" color="accent"
                    [disabled]="isSellDisabled"
                    (click)="onSellClick()"
            >Sell
            </button>
        </mat-card-content>
    </mat-card>
    </section>
    <hr/>
    <br/>

    <section>
        <app-open-orders [exchange]="exchange" [market]="market" ></app-open-orders>
    </section>
    <hr/>
    <br/>
    <div>
        <mat-checkbox #chckHistory>All Orders</mat-checkbox>
        <div *ngIf="chckHistory.checked">
            <app-orders-history [exchange]="exchange" [market]="market"></app-orders-history>
        </div>

    </div>
    <hr/>
    <br/>

    <section>
        <app-market-books
                [exchange]="exchange"
                [market]="market"
                (price)="onPriceClick($event)"
        ></app-market-books>
    </section>
    <hr/>
    <br/>

    <section>
        <app-trades-exchange-snapshot [exchange]="exchange" [market]="market"></app-trades-exchange-snapshot>
    </section>
    <hr/>
    <br/>
    <section>
        <mat-checkbox [(ngModel)]="isCoinDay"> Coin Day</mat-checkbox>

        <p *ngIf="isCoinDay">
            <app-coin-day-triggers [coin]="coin"></app-coin-day-triggers>
        </p>
    </section>
    <hr/>
    <br/>
    <section>
            <mat-checkbox #booksCheck >Books</mat-checkbox>
            <app-books-all-exchanges
                    *ngIf="booksCheck.checked"
                    [coin]="null"
                    [market]="market"
            ></app-books-all-exchanges>
    </section>


</div>
