<div>
    <div>{{exchange}}</div>
    <div>{{market}}</div>

    <div>Diff: {{marketStats.diff}}</div>
    <div> Total Buy <span>{{marketStats.amountBaseBuy.toLocaleString()}}</span></div>
    <div> Total Sell <span>{{marketStats.amountBaseSell.toLocaleString()}}</span></div>
    <div> avg {{marketStats.avgRate.toLocaleString()}}</div>

    <div> speed {{marketStats.speed.toPrecision(4)}}</div>
    <div>Max Buy {{marketStats.maxBuy.toLocaleString()}}</div>
    <div>Max Sell {{marketStats.maxSell.toLocaleString()}}</div>

    <div> total  {{(marketStats.amountBaseBuy - marketStats.amountBaseSell).toLocaleString()}}</div>

</div>
