<div>
    <section>
        <h3 class="subheading-1">
            Price <strong>%</strong> Diff on exchanges to MC  &nbsp;
            <a class="btn fa fa-refresh fa-2x dgreen" (click)="onRefreshDataClick()"></a>
            <br/>
            <sub>On click  $1000 Books % to MC</sub>
        </h3>
    </section>

    <section>
        <table>
            <tbody>
            <tr>
                <th *ngFor="let exchangeName of tableHeaders">{{exchangeName}}</th>
            </tr>
            <tr *ngFor="let exchangesValues of tableDataset; let i = index">
                <td (click)="onCoinClick(i, j)" *ngFor="let price of exchangesValues; let j = index">{{price}}</td>
            </tr>
            </tbody>
        </table>
    </section>

</div>
