<div>
    <section>
        <h2>Hit BTC</h2> <small *ngIf="marketsAr">Total: {{marketsAr.length}}</small>
    </section>
    <section>
        <table>
            <tr>
                <th>symbol</th>
                <th>step</th>
                <th>lot</th>
                <th>currency</th>
                <th>commodity</th>
                <th>takeLiquidityRate</th>
                <th>provideLiquidityRate</th>
            </tr>
            <tbody>
            <tr *ngFor="let coin of marketsAr">
                <td>{{coin.symbol}}</td>
                <td>{{coin.step}}</td>
                <td>{{coin.lot}}</td>
                <td>{{coin.currency}}</td>
                <td>{{coin.commodity}}</td>
                <td>{{coin.takeLiquidityRate}}</td>
                <td>{{coin.provideLiquidityRate}}</td>
            </tr>

            </tbody>

        </table>
    </section>

</div>
