
    <div>
        <table class="text-center table-small">
            <tbody>
            <tr>
                <td colspan="3">
                    <small>{{percentDiff}}%</small>
                </td>
            </tr>
            <tr>
                <td>
                    <input  [ngClass]="isLoading?'text-blur':''" [(ngModel)] = "rateToBuyUS"  class="large w3"  type="number" (focus)="onRateToSellFocus()" />
                   <!-- <strong  [ngClass]="bookingColor" class="large" (click)="onRateToSellClick()">{{rateToSellUS}}</strong>-->
                </td>
                <td>
                  <!--  <span class="btn fa fa-refresh green"></span>-->
                </td>
                <td>
                    <input  [ngClass]="isLoading?'text-blur':''" [(ngModel)] = "rateToSellUS"  class="large w3"  type="number" (focus)="onRateToBuyFocus()" />
                   <!-- <strong  [ngClass]="bookingColor" class="large"  (click)="onRateToBuyClick()">  {{rateToBuyUS}}  </strong>-->
                </td>
            </tr>

            <tr>
                <td>
                    <small  [ngClass]="sellColor">{{sellChange}}%</small>
                </td>
                <td>

                </td>
                <td>
                    <small  [ngClass]="buyColor">{{buyChange}}%</small>
                </td>
            </tr>
            </tbody>

        </table>

    </div>