
    <div>
        <table class="text-center table-small">
            <tbody>
            <tr>
                <td colspan="3">
                    <small>{{percentDiff}}%</small>
                </td>
            </tr>
            <tr  (click)="onRefreshBooksClick()">
                <td>
                    <strong  [ngClass]="bookingColor" class="large">{{rateToSellUS}}</strong>
                </td>
                <td>
                    <span class="btn fa fa-refresh green"></span>
                </td>
                <td>
                    <strong  [ngClass]="bookingColor" class="large">  {{rateToBuyUS}}  </strong>
                </td>
            </tr>

            <tr>
                <td>
                    <small  [ngClass]="sellColor">{{sellChange}}%</small>
                </td>
                <td>

                </td>
                <td>
                    <small  [ngClass]="buyColor">{{buyChange}}%</small>
                </td>
            </tr>
            </tbody>

        </table>

    </div>